# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea/inspectionProfiles/
.idea/vcs.xml
bin/.gitignore
bin/gocode
bin/godef
bin/guru
pkg/darwin_amd64/github.com/Shopify/
pkg/darwin_amd64/github.com/alecthomas/
pkg/darwin_amd64/github.com/aws/
pkg/darwin_amd64/github.com/boltdb/
pkg/darwin_amd64/github.com/cweill/
pkg/darwin_amd64/github.com/davecgh/
pkg/darwin_amd64/github.com/eapache/
pkg/darwin_amd64/github.com/fatih/
pkg/darwin_amd64/github.com/go-sql-driver/
pkg/darwin_amd64/github.com/golang/lint.a
pkg/darwin_amd64/github.com/golang/snappy.a
pkg/darwin_amd64/github.com/googollee/
pkg/darwin_amd64/github.com/gorilla/
pkg/darwin_amd64/github.com/jinzhu/
pkg/darwin_amd64/github.com/pierrec/
pkg/darwin_amd64/github.com/rcrowley/
pkg/darwin_amd64/github.com/rogpeppe/
pkg/darwin_amd64/github.com/samuel/
pkg/darwin_amd64/github.com/sqs/
pkg/darwin_amd64/github.com/wvanbergen/
pkg/darwin_amd64/golang.org/x/tools/
pkg/darwin_amd64/iot/conf.a
pkg/darwin_amd64/iot/lib/kafka.a
pkg/darwin_amd64/iot/lib/publisher.a
pkg/darwin_amd64/iot_client/lib/kafka.a
pkg/darwin_amd64/iot_client/lib/subscriber.a
pkg/darwin_amd64/iot_subscriber/
projectFilesBackup/
realtime_logger
